/** ADD YOUR AWESOME CODES HERE **/

#abilities ul > li { min-height: 30px; padding: 3px 0px; }
#abilities ul > li:hover { background: #F2F2F2; }
#abilities ul > li .ability-title { display: inline-block; width: 60%; color: black;}
#abilities ul > li .ability-score { float: right; }
#abilities ul > li .ability-score .fa { 
	color: #DFE0E0; 
	font-size: 14px; 
	 
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#abilities ul > li .ability-score .fa { color: #22A39F; }
#abilities ul > li:hover .ability-score .fa { margin-left: 2px; }
.ability-row {
    padding-top: 2%;
}
#abilities h2 {
    padding-top: 5%;
}

ul.no-bullets { list-style-type: none; margin: 0px; padding: 0px; }

#contact ul > li .fa.fa-twitter-square {   font-size: 32px;   }
#contact ul > li .fa.fa-linkedin-square {   font-size: 32px;   }
#contact ul > li .fa.fa-github-square {   font-size: 32px;   }
#contact ul > li .fa.fa-envelope {   font-size: 29px;   }

#contact a { display: block; line-height: 32px; margin-bottom: 20px;  font-size: 15px;}
#contact a .fa { float: left; margin-right: 20px;}
#contact a:hover { opacity: 1; filter:alpha(opacity=100); text-decoration: none; color: #DFE0E0}
#dropdown-language {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
#dropdown-language:hover
{
    cursor: pointer;
}